body{
    margin: 0;
    min-width: 1000px;
    overflow-x: hidden;
}

.form{
    font-size: 120%;
}


.edit{
    bottom: 0;
}


.form-group {
    position: relative;
    left: 210px;
}

.edit:hover{
    color: hsl(210, 50%, 43%);
    cursor: pointer;
}

.discount{
    background-color: rgb(255, 188, 112) !important;
    border: 1px solid #000;
    color:black;

}

.generar{
    position: relative;
    left: 300px;
    
}