.btn-primary {
    color: #fff;
    background-color: #FC9C07 !important;
    border-color: #030007 !important;
}
.icon-img{
    width: 70px;
    height: 70px;
    margin-bottom: 2rem;
}
.reset{
    color: black;
}
