.btn-block {
    color: #fff;
    background-color: #FC9C07;
    border-color: #030007 !important;
}
.icon-img{
    width: 70px;
    height: 70px;
    margin-bottom: 2rem;
}
.reset{
    color: black;
}

.lagomall{
    border-radius: 100%;
    width: 600px;
    height: 485px;    
}

/* .text-center{

    background: rgb(252,156,7);
    background: linear-gradient(360deg, rgba(252,156,7,1) 6%, rgba(1,62,124,1) 100%);
} */

@media only screen and (max-width:1080px) {

    .lagomall{
        width: 500px;
        height: 404px;    
    }

}

@media only screen and (max-width:920px) {

    .lagomall{
        width: 450px;
        height: 364px;    
    }

}