.see{
    background-color: #013E7C;
}

.first {
    background-color: #013E7C;
    color: white;
   
}

.margintable {
    margin-top: 20px;
    margin-bottom: 100px;
}

.margintable td {
width: 80px;
}

.titlePayments {
    text-align: center;
    color: black;
    font-weight: 800;
}

.container-month{
    margin-top: 50px;
}

.label-date{
    padding-right: 10px;
    font-size: 110%;
}

.getPayments{
    width: 20%;
}

.grupoBtns{
    left: 200px;
}


.btnPP{
    background: #20252b;
    border:  solid black 0.6px;
    border-radius: 10px;

}


.btnPP:hover{

    border: solid black 0.6px;
    border-radius: 10px;
    color: white;
}

.btnPP:hover:active{
    background: red ;

}

#busqueda {
    width: 25%;
}


.anular {
    background: red;
    border: 1px solid black;
}

.anular:hover {
    background: red;
    border: 1px solid black;
}