.see{
    background-color: #013E7C;
}

.first {
    background-color: #013E7C;
    color: white;
   
}

.margintable {
    margin-top: 20px;
    margin-bottom: 100px;
}

.titlePayments {
    text-align: center;
    color: black;
    font-weight: 800;
}

.container-month{
    margin-top: 50px;
}

.label-date{
    padding-right: 10px;
    font-size: 110%;
}

.getPayments{
    width: 20%;
}