* {
    margin: 0
}

body{
    min-width: 1200px !important;
}

.formulario {
    margin-top: 50px;
    width: 30%;
    margin-bottom: 100px;
}

.title{
    color: #013E7C;
}

/* .formregistrar {
    left: 300px;
    
} */