* {
    margin: 0
}

body{
    min-width: 1200px !important;
}

.formulario {
    margin-top: 50px;
    width: 60%;
    margin-bottom: 100px;
}


.title{
    color: #013E7C;
    text-align: center;
}

.payment, .payment-1{
    width: 500px;
    border-radius: 8px;
    border: 1px solid #06294d;
}

.payment{
    height: 281px;
    margin-top: 100px;

}

.payment-1{
    height: 213px;
    margin-top: 10px;

}

#formRegistrar {
    font-size: 110%;
    margin-top: 30px;
    width: 50%;
    left: 100px;
    
}

.deudas{
    width: 50%;
}
  
  